interface {{pascalCase name}}Props {
  children?: React.ReactNode
}

function {{pascalCase name}} ({
  children
}: {{pascalCase name}}Props): JSX.Element {
  const showChildren = Boolean(children)

  return (
    <div className="flex">
      <h1 className="text-3xl font-bold flex-auto w-50">
        {{pascalCase name}} component
        {showChildren ? <><br />{children}</> : null}
      </h1>
    </div>
  )
}

export default {{pascalCase name}}
